* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

header {
  background-color: black;
  color: rgb(170, 172, 173);
  padding: 12px;
}
header p {
  font-size: 20px;
}
.title {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
}

#box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.inputBox {
  display: flex;
  align-items: center;
}

.input {
  width: 500px;
  height: 30px;
  padding-left: 10px;
  margin-left: 60px;
  border-radius: 5px;
  border: 1px solid rgb(153, 153, 153);
}

.add_btn {
  width: 50px;
  height: 30px;
  margin-left: 20px;
  background-color: rgb(14, 110, 199);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(153, 153, 153);
  cursor: pointer;
  text-align: center;
}

table {
  margin-top: 50px;
  width: 110%;
  border-top: 1px solid rgb(153, 153, 153);
  border-left: 1px solid rgb(153, 153, 153);
  border-right: 1px solid rgb(153, 153, 153);
  border-collapse: collapse;
  position: fixed;
}

tr,
td {
  border-bottom: 1px solid rgb(153, 153, 153);
  padding: 10px;
  height: 50px;
}

table td:nth-child(1) {
  width: 5%;
}

table td:nth-child(3) {
  width: 20px;
  cursor: pointer;
  background: url("asset/연필.png") no-repeat;
  background-size: 20px;
  background-position: 5px;
}
table td:nth-child(4) {
  width: 20px;
  cursor: pointer;
  background: url("asset/휴지통.png") no-repeat;
  background-size: 20px;
  background-position: 5px;
}

tr:hover {
  background-color: rgb(252, 252, 252);
}

tr.checked {
  text-decoration: line-through;
}

.alert {
  text-align: center;
  color: red;
}
